* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0b0620;
    color: #fff;
}

/* Layout */
.container {
    width: 80%;
    margin: auto;
}

/* HERO */
.hero {
    padding: 80px 0;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin: 15px 0;
    color: #aaa;
}

.buttons {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #aaa;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

.primary {
    background: #6c63ff;
    border: none;
}

/* HERO IMAGE */
.right img {
    width: 200px;
}

/* ABOUT */
.about {
    margin-top: 40px;
}

.about h2 {
    margin-bottom: 10px;
}

/* SKILLS */
.skills-section {
    background: #2b1e4b;
    padding: 40px 0;
    margin-top: 40px;
}

.skills-box {
    background: #140a2e;
    padding: 30px;
    border-radius: 10px;
}

.skills {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.skills span {
    background: #3a2b6b;
    padding: 8px 15px;
    border-radius: 5px;
}

/* PROJECT */
.projects {
    margin-top: 50px;
}

.project-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* EDUCATION */
.education-section {
    background: #2b1e4b;
    padding: 40px 0;
    margin-top: 50px;
}

.education-box {
    background: #140a2e;
    padding: 30px;
    border-radius: 10px;
}

.edu-card {
    border: 1px solid #aaa;
    padding: 15px;
    margin-top: 15px;
}
